<aside class="h-full pt-16">
    <div class="h-full overflow-y-auto bg-cyan-700 py-4 px-4 space-y-2">
        <p class="uppercase text-slate-100 font-bold text-xs">Administración</p>
        <ul class="space-y-1 font-medium">
            <li>
                <a [routerLink]="['inicio']" class="flex items-center p-2 text-white hover:bg-cyan-800 rounded-lg group">
                    <fa-icon [icon]="faHome" class="fa-lg"></fa-icon>
                    <span class="ms-3">Inicio</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['pacientes']" class="flex items-center p-2 text-white rounded-lg hover:bg-cyan-800  group">
                    <fa-icon [icon]="faHospitalUser" class="fa-lg"></fa-icon>
                    <span class="flex-1 ms-3 whitespace-nowrap">Pacientes</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['consultorios']" class="flex items-center p-2 text-white rounded-lg hover:bg-cyan-800  group">
                    <fa-icon [icon]="faHouseMedical" class="fa-lg"></fa-icon>
                    <span class="flex-1 ms-3 whitespace-nowrap">Consultorios</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-white rounded-lg hover:bg-cyan-800  group">
                    <fa-icon [icon]="faUserDoctor" class="fa-lg"></fa-icon>
                    <span class="flex-1 ms-3 whitespace-nowrap">Doctores</span>
                </a>
            </li>
        </ul>
        <p class="uppercase text-white font-bold text-xs">Finanzas</p>
        <ul class="space-y-1 font-medium">
            <li>
                <a href="#" class="flex items-center p-2 text-white rounded-lg hover:bg-cyan-800  group">
                    <fa-icon [icon]="faMoneyBill" class="fa-lg"></fa-icon>
                    <span class="flex-1 ms-3 whitespace-nowrap">Pagos</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-white rounded-lg hover:bg-cyan-800  group">
                    <fa-icon [icon]="faCashRegister" class="fa-lg"></fa-icon>
                    <span class="flex-1 ms-3 whitespace-nowrap">Caja</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
