

<nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
        <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="sgi-logo.png" class="h-12 rounded-full" alt="Flowbite Logo">
            <span class="self-center text-2xl font-semibold whitespace-nowrap">SGI Dental</span>
        </a>
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button type="button"  class="text-gray-800 hover:bg-gray-50 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2">Iniciar sesión</button>

            <button type="button" class="text-white bg-cyan-600 hover:bg-cyan-700 font-medium rounded-lg text-sm px-4 py-2 text-center">Regístrate</button>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
