<nav class="fixed top-0 left-0 right-0 z-10 shadow bg-white">
    <div class="mx-auto max-w-full px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <ng-content></ng-content>
                <a href="https://flowbite.com" class="flex ms-2 md:me-24">
                    <img src="sgi-logo.png" class="h-10 me-3" alt="FlowBite Logo" />
                    <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap">SGI Dental</span>
                </a>
            </div>
            <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                class="h-8 w-8 rounded-full text-sm"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>

            </button>

            <mat-menu
                #menu="matMenu"
                class="mt-2 w-48 rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            >
                <button mat-menu-item>
                    <span><i class="fa-solid fa-gear"></i>&nbsp;Perfil</span>
                </button>
                <button mat-menu-item>
                    <span
                    ><i class="fa-solid fa-power-off"></i>&nbsp;Salir</span
                    >
                </button>
            </mat-menu>
        </div>
    </div>
</nav>
