<div class="space-y-5">
    <h1 class="text-2xl font-semibold">Bienvenido a SGI Dental Company</h1>
    <hr class="w-1/2">

    <div class="space-y-5">
        <div>
            <h3 class="text-xl">Accesos directos</h3>
            <p class="text-sm text-gray-600">Accede fácilmente a las funciones principales del sistema</p>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-5">
            <!-- Card -->
            <div class="group flex flex-col h-full bg-white shadow-md rounded-xl">
                <div class="h-52 flex flex-col justify-center items-center bg-slate-300 rounded-t-xl">
                    <img src="finanzas.png" class="bg-white p-3 rounded-xl">
                </div>
                <div class="p-4 md:p-6">
                    <h3 class="text-xl font-semibold text-gray-800">
                        Pagos y finanzas
                    </h3>
                    <p class="text-gray-500">
                        Administra los pagos, facturación y el estado financiero de los servicios brindados a los pacientes
                    </p>
                </div>
                <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200">
                    <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-xl bg-white text-gray-800  hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                       href="#">
                        Administrar
                    </a>
                </div>
            </div>
            <div class="group flex flex-col h-full bg-white shadow-md rounded-xl">
                <div class="h-52 flex flex-col justify-center items-center bg-slate-300 rounded-t-xl">
                    <img src="paciente.png" class="bg-white p-3 rounded-xl">
                </div>
                <div class="p-4 md:p-6">
                    <h3 class="text-xl font-semibold text-gray-800">
                        Pacientes
                    </h3>
                    <p class="text-gray-500">
                        Consulta y gestiona la información de los pacientes registrados en el sistema
                    </p>
                </div>
                <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200">
                    <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-xl bg-white text-gray-800  hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                       href="#">
                        Administrar
                    </a>
                </div>
            </div>
            <div class="group flex flex-col h-full bg-white shadow-md rounded-xl">
                <div class="h-52 flex flex-col justify-center items-center bg-slate-300 rounded-t-xl">
                    <img src="diente.png" class="bg-white p-3 rounded-xl">
                </div>
                <div class="p-4 md:p-6">
                    <h3 class="text-xl font-semibold text-gray-800">
                        Consultorios
                    </h3>
                    <p class="text-gray-500">
                        Administra los consultorios registrados y verifica los servicios que ofrecen dentro de la plataforma
                    </p>
                </div>
                <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200">
                    <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-xl bg-white text-gray-800  hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                       href="#">
                        Administrar
                    </a>
                </div>
            </div>
            <div class="group flex flex-col h-full bg-white shadow-md rounded-xl">
                <div class="h-52 flex flex-col justify-center items-center bg-slate-300 rounded-t-xl">
                    <img src="dentista.png" class="bg-white p-3 rounded-xl">
                </div>
                <div class="p-4 md:p-6">
                    <h3 class="text-xl font-semibold text-gray-800">
                        Doctores
                    </h3>
                    <p class="text-gray-500">
                        Gestiona el perfil de los doctores y realiza seguimiento a su actividad y reportes generados
                    </p>
                </div>
                <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200">
                    <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-xl bg-white text-gray-800  hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                       href="#">
                        Administrar
                    </a>
                </div>
            </div>
            <!-- End Card -->
        </div>
    </div>
</div>
